<mat-toolbar color="primary">
  <span>Atluz Status Update</span>
</mat-toolbar>
<div class="container">
  <mat-card>
    <mat-card-content>
      <mat-form-field appearance="outline" style="width: 100%;">
        <textarea matInput
                  [rows]="5"
                  [(ngModel)]="responseDataText"
                  placeholder="Paste Your Response Data Text Here"></textarea>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions align="center">
      <button mat-raised-button color="accent" type="button" (click)="onSubmit()">Generate</button>
    </mat-card-actions>
  </mat-card>

  <mat-card *ngIf="formattedTimesheets" style="padding-top: 15px;" id="statusId">
    <mat-card-content>
      <div *ngFor="let item of formattedTimesheets">
        <div style="display: inline;">• </div>
        <div style="display: inline;" *ngIf="item.workItemReference">#{{item.workItemReference}}: </div>
        <div style="display: inline;"> {{item.description}}</div>
        <div style="display: inline;"> ({{item.type}})</div>
        <div style="display: inline;"> ({{item.workMinutes | durationToTime}})</div>
      </div>
    </mat-card-content>
    <mat-card-actions align="center">
      <button mat-raised-button color="accent" type="button" (click)="onCopy()">Copy</button>
    </mat-card-actions>
  </mat-card>
</div>
<router-outlet></router-outlet>